/* CSS Reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: Arial;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

body {
  background: #020d18;
  background: -moz-linear-gradient(top, #020d18 0%, #07487e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #020d18), color-stop(100%, #07487e));
  background: -webkit-linear-gradient(top, #020d18 0%, #07487e 100%);
  background: -o-linear-gradient(top, #020d18 0%, #07487e 100%);
  background: -ms-linear-gradient(top, #020d18 0%, #07487e 100%);
  background: linear-gradient(to bottom, #020d18 0%, #07487e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$btm',GradientType=0 );
  font-family: Arial sans-serif;
  color: white; }

.wrap {
  max-width: 1024px;
  height: inherit;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  position: relative; }

header, section {
  width: 100%; }

section {
  width: 100%;
  padding-bottom: 61px;
  position: relative;
  text-align: center; }

/* --h2 lines-- */
section h2 {
  padding-bottom: 20px;
  font: bold 16px sans-serif;
  color: #69829a;
  display: flex; }

h2:before,
h2:after {
  flex-grow: 1;
  height: 3px;
  content: '\a0';
  position: relative;
  top: 0.5em; }

h2:before {
  margin-right: 10px;
  background: rgba(44, 82, 117, 0);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(44, 82, 117, 0) 0%, #2c5275 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(44, 82, 117, 0)), color-stop(100%, #2c5275));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(44, 82, 117, 0) 0%, #2c5275 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(44, 82, 117, 0) 0%, #2c5275 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(44, 82, 117, 0) 0%, #2c5275 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(44, 82, 117, 0) 0%, #2c5275 100%);
  /* W3C */ }

h2:after {
  margin-left: 10px;
  background: #2c5275;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2c5275 0%, rgba(44, 82, 117, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2c5275), color-stop(100%, rgba(44, 82, 117, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2c5275 0%, rgba(44, 82, 117, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2c5275 0%, rgba(44, 82, 117, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2c5275 0%, rgba(44, 82, 117, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #2c5275 0%, rgba(44, 82, 117, 0) 100%);
  /* W3C */ }

/* -- Title -- */
header {
  text-align: center;
  padding: 50px 0;
  font: bold 48px sans-serif;
  color: white; }

/* -- MoneyBox -- */
.moneystack div {
  margin-left: -15px;
  position: relative;
  display: inline-block; }

.coins .text {
  padding-top: 2px;
  font-size: 12px; }

.coin {
  position: relative;
  margin: 0 auto;
  width: 24px;
  height: 29px;
  background-image: url("pic/coins.png"); }

.clicker {
  display: inline-block;
  padding-top: 14px;
  font-size: 14px; }

.clicker a:visited, .clicker a:link {
  color: white;
  border-bottom: 1px dotted white;
  text-decoration: none; }

.b-center {
  display: inline-block;
  position: relative;
  margin: 0 auto; }

.b-left {
  position: absolute;
  left: -177px;
  top: 0; }

.b-right {
  position: absolute;
  left: 177px;
  top: 0;
  width: 165px; }

.button a:link, .button a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.button {
  vertical-align: top; }

.buy-hand, .buy-leg, .buy-cucumber {
  background: #16a924;
  /* Old browsers */
  background: -moz-linear-gradient(top, #94c16c 0%, #16a924 50%, #94c16c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #94c16c 0%, #16a924 50%, #94c16c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #94c16c 0%, #16a924 50%, #94c16c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-weight: bold;
  border-radius: 20px;
  padding: 7px 16px; }
  .buy-hand:hover, .buy-leg:hover, .buy-cucumber:hover {
    background-color: #19d62a; }

/* -- Market -- */
#staff {
  padding-bottom: 36px; }

.marketbuttons {
  padding-top: 23px; }

.sell-hand, .sell-leg, .sell-cucumber {
  background: #9d2222;
  /* Old browsers */
  background: -moz-linear-gradient(top, #da5151 0%, #9d2222 50%, #da5151 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #da5151 0%, #9d2222 50%, #da5151 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #da5151 0%, #9d2222 50%, #da5151 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-weight: bold;
  border-radius: 20px;
  padding: 6px 15px; }

.cost-text {
  padding-top: 10px;
  font: 14px Arial; }

.amount {
  color: #d74545;
  position: absolute;
  width: 150px;
  height: 100px; }

.sellimg {
  padding-left: 20px;
  float: left; }

.amount {
  position: relative;
  padding-top: 30px;
  font-size: 36px; }

/* -- Production -- */
#production {
  padding-bottom: 280px; }

.susy-wrapper {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto; }
  .susy-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.production-table1 {
  width: 41.66667%;
  float: left; }

.padderone {
  position: relative;
  top: 138px; }

.production-table2 {
  width: 25%;
  float: left; }

.paddertwo {
  position: relative;
  top: 180px; }

.production-table-man {
  width: 33.33333%;
  float: right;
  margin-right: 0;
  padding-bottom: 100px;
  position: relative; }

.production-table-man img {
  position: absolute;
  right: 0; }

.variable {
  text-align: left;
  margin-bottom: 20px;
  font-size: 12pt !important; }

input[type="radio"] {
  display: none;
  color: white; }

input[type="radio"]:checked + label {
  border-bottom: 0px dotted white;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  padding: 2px 5px; }

input[type="radio"] + label {
  cursor: pointer;
  margin-left: 20px;
  border-bottom: 1px dotted white;
  background-color: transparent;
  border-radius: 2px;
  padding: 2px 5px; }

.bubble {
  position: relative;
  max-width: 92px;
  padding: 8px 7px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px 0px #616161;
  -moz-box-shadow: 0px 2px 10px 0px #616161;
  box-shadow: 0px 2px 10px 0px #616161;
  font-size: 11px;
  color: #063761;
  opacity: 0.75;
  margin: -20px auto;
  margin-bottom: 24px;
  text-align: left; }

.boiler {
  padding-top: 20px; }

.bubble:after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 55px;
  border-style: solid;
  border-width: 38px 8px 0;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1; }

.button-boiler {
  position: relative;
  top: -30px; }

.button-boiler a:link, .button-boiler a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.ingredient {
  padding-top: 55px;
  text-align: left; }

.ingredient img {
  margin-right: 10px; }

.opacit {
  opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
